<div id="home">
    <style>
    #home .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #home .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    #home #homeContent{
        width:100%;
        height: 100%;
    }
    .swiper-pagination-bullet{
        width:60px;
        height:30px;
        border-radius:3px;
        text-align: center;
        line-height: 30px;
    }
    .swiper-pagination-bullet-active{
        background-color: rgba(111,111,111,0.2);
        opacity: none;
    }
    #slide-home{
        background-image: url("images/home.jpg");
        background-size: 100% 100%;
        height: 100%;
        width:100%;
        opacity: 0.7;
    }
    </style>
    <div id="homeContent">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div id="slide-home"></div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
            </div>
            <div class="swiper-pagination">
            </div>
        </div>
    </div>
</div>