<li>
    <a href="#employees/1">
        <img width="50" height="50" src="pics/James_King50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            James King
            <br>
            President and CEO
        </p>
    </a>
</li>
<li>
    <a href="#employees/2">
        <img width="50" height="50" src="pics/Julie_Taylor50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            Julie Taylor
            <br>
            VP of Marketing
        </p>
    </a>
</li>
<li>
    <a href="#employees/4">
        <img width="50" height="50" src="pics/John_Williams50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            John Williams
            <br>
            VP of Engineering
        </p>
    </a>
</li>
<li>
    <a href="#employees/5">
        <img width="50" height="50" src="pics/Ray_Moore50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            Ray Moore
            <br>
            VP of Sales
        </p>
    </a>
</li>
<li>
    <a href="#employees/6">
        <img width="50" height="50" src="pics/Paul_Jones50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            Paul Jones
            <br>
            QA Manager
        </p>
    </a>
</li>
<li>
    <a href="#employees/7">
        <img width="50" height="50" src="pics/Paula_Gates50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            Paula Gates
            <br>
            Software Architect
        </p>
    </a>
</li>
<li>
    <a href="#employees/8">
        <img width="50" height="50" src="pics/Lisa_Wong50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            Lisa Wong
            <br>
            Marketing Manager
        </p>
    </a>
</li>
<li>
    <a href="#employees/9">
        <img width="50" height="50" src="pics/Gary_Donovan50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            Gary Donovan
            <br>
            Marketing Manager
        </p>
    </a>
</li>
<li>
    <a href="#employees/10">
        <img width="50" height="50" src="pics/Kathleen_Byrne50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            Kathleen Byrne
            <br>
            Sales Representative
        </p>
    </a>
</li>
<li>
    <a href="#employees/11">
        <img width="50" height="50" src="pics/Amy_Jones50.jpg" style="float:left;margin-right: 10px;">
        <p class="list-item">
            Amy Jones
            <br>
            Sales Representative
        </p>
    </a>
</li>